<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1 style="text-align: center; background-color:skyblue">Add New Book</h1>
    <div class="container">
           <table class="table table-striped">
              <tbody>
                 <tr>
                    <td colspan="1">
                       <form class="well form-horizontal">
                          <fieldset>
                             <div class="form-group">
                                <label class="col-md-4 control-label">Name:</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <div class="input-group"><input id="" name="title" placeholder="Name of Book" class="form-control" required="true" type="text"></div>
                                </div>
                             </div>
                             <div class="form-group">
                                <label class="col-md-4 control-label">Author:</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <div class="input-group"><input id="" name="author" placeholder="Author" class="form-control" required="true" type="text"></div>
                                </div>
                             </div>
                             <div class="form-group">
                                <label class="col-md-4 control-label">Genre:</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <div class="input-group"><input id="" name="genre" placeholder="Genre" class="form-control" required="true" type="text"></div>
                                </div>
                             </div>
                             <div class="form-group">
                                <label class="col-md-4 control-label">Height:</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <div class="input-group"><input id="" name="height" placeholder="Height" class="form-control" required="true" type="number"></div>
                                </div>
                             </div>
                             <div class="form-group">
                                <label class="col-md-4 control-label">Publisher:</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <div class="input-group"><input id="" name="Publisher" placeholder="Publisher" class="form-control" required="true" type="text"></div>
                                </div>
                             </div>
                          </fieldset>
                       </form>
                    </td>
                 </tr>``
              </tbody>
           </table>
        </div>
</body>
</html>